<!DOCTYPE html>

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Code & Chill</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />

  </head>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <body>
    <div id="body">
      <!-- Include navigation partial. -->
      {% include 'navigation.html' %}

      <div id="content-2">
        <header id="header">
          Code & Chill
        </header>


        <div id="container">
          <!-- Main content block to be supplied by page. -->
          {% block content %} {% endblock %}

          <!-- Include sidebar partial. -->
          {% include 'sidebar.html' %}
        </div>

        <div id="nav-footer">
            <footer id="footer">
              <p>AMAH141</p>
              <p>COURSE: COMPSCI 235 Software Development Methodologies</p>
            </footer>
        </div>

      </div>
    </div>
  </body>
</html>
